@import url(http://fonts.googleapis.com/css?family=Armata&subset=latin,latin-ext);

body {
	font-family: 'Armata', sans-serif;
	background-color: #DDDDDD;
}

textarea {
	font-family: 'Armata', sans-serif;
}
